article.wrapper-2017 {
  position: relative;
  transition: 0.2s ease-in-out;
  font-size: 16px;
  margin-top: 100px;
  margin-bottom: 100px;
padding: var(--gap);
background: var(--entry);
border-radius: 8px;
box-shadow: 0.6em 0.6em 1.2em rgba(0, 0, 0, .05);
}

article.wrapper-2017:hover {
	box-shadow: 0.3em 0.3em .6em rgba(0, 0, 0, .05);
}

.info-box .info {
  box-sizing: border-box;
  float: left;
  width: 33.3333333333%;
  padding: 0;
  min-height: 50px;
}

.info-box .info h4,
h4.about-the-item {
  font-size: 11px;
  line-height: 11px;
  margin-bottom: 9px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 33px;
  text-transform: none;
  font-weight: 400;
  font-family: monospace;
}

article.wrapper-2017 figure {
  position: relative;
  margin: 0;
}

article.wrapper-2017 h3 + p {
  margin-bottom: 33px;
}

.info-box {
  overflow: hidden;
}

.info-box .info ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

article.wrapper-2017 h3 {
  margin: 10px 0 5px !important;
  font-size: 18px;
  text-transform: uppercase;
}

article.wrapper-2017::after {
  content: " ";
  display: block;
  padding: 20px;
  margin: 10px auto;
  width: 100%;
}

/* Update Article Wrapper 2017*/

.info span,
span.about-the-item {
  display: block;
  font-size: 12px;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.4);
  margin-top: 43px;
}

.info {
  clear: none;
}

ul.article-list {
  margin-left: 30px;
  list-style-type: none;
}

article.wrapper-2017 p {
  padding-right: 8px;
  margin-top: -5px;
}

ul.article-list li::before {
  content: "-";
  display: block;
  float: left;
  margin-right: 5px;
}

.info-box a {
  color: #1488cc;
  text-decoration: none;
}

article.wrapper-2017 .accent {
  font-family: monospace;
  display: inline-block;
  width: 25%;
  color: rgba(0, 0, 0, 0.5);
  font-size: 11px;
}

article.wrapper-2017 p + p {
  color: rgb(51, 51, 51);
  margin-bottom: 0;
}

.box-content > div.container {
  width: auto;
  margin-top: 20px;
}

main article video {
  width: 100%;
}

main figure img {
  z-index: 99;
  width: 100%;
}

main figure img + img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
}

main figure:hover img + img {
  z-index: 1;
}

main .img-extra::after {
  display: block;
  padding: 0 10px;
  content: "hover to play";
  position: absolute;
  left: -25px;
  top: 150px;
  font-size: 14px;
  color: #ffeaa7;
  text-align: center;
  background: #1f2029;
  transform-origin: 0 0;
  transform: rotate(270deg);
  transition: 0.1s ease-in-out;
  z-index: -1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

main figure .img-extra::after {
  left: -50px;
}

main video:hover + .img-extra::after,
main img:hover + .img-extra::after {
  left: 0;
  box-shadow: none;
}

.sitemap {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

.sitemap .card {
  min-height: 100%;
  background: white;
  box-shadow: 13px 32px 36px -14px hsla(0, 0%, 70%, 0.1);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #444;
  position: relative;
  top: 0;
  transition: all 0.1s ease-in;
}

.sitemap .card:hover {
  top: -2px;
  box-shadow: 13px 32px 36px -14px hsla(0, 0%, 70%, 0.3);
}

.sitemap .card article {
  padding: 20px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
}

.sitemap h3 {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  color: #333;
}

.sitemap .card span {
  font-size: 10px;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 2em 0 0 0;
}

@media only screen and (min-width: 476px) {
  .sitemap {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 960px) {
  .sitemap {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .sitemap-item-feature {
    grid-column: 1 / span 2;
  }
}

@media only screen and (min-width: 1296px) {
  .sitemap {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.video-container {
  margin: 50px 0 250px;
  background-color: #1f2029;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1f2029;
}

div.link {
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  article.wrapper-2017 {
    font-size: 14.4px;
  }
  .info-box .info {
    width: 100%;
    text-align: center;
  }
  .info-box .info h4 {
    margin-top: 10px;
  }
  article.wrapper-2017 .accent {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0;
  }
}

a.wrapper-news {
  display: block;
  margin-bottom: 50px;
  box-shadow: none;
}

a.wrapper-news:hover {
  box-shadow: none;
}

.wrapper-news article {
  padding-bottom: 5%;
}

.wrapper-news img {
  border: none;
}

.wrapper-news h3,
.wrapper-news p {
  padding: 0 5%;
  margin-bottom: 2%;
}

.wrapper-news p {
  font-size: 1rem;
}

.wrapper-news .date {
  padding: 0 5%;
  font-size: 0.8rem;
  font-family: monospace;
}

.wrapper-news:nth-child(odd) article {
  background: rgba(246, 244, 242, 0.5);
}

.wrapper-news:nth-child(odd) article .date {
  color: rgb(183, 181, 179);
}

.wrapper-news:nth-child(even) article {
  background: #1d1e22;
  color: rgb(246, 244, 242);
}

.wrapper-news:nth-child(even) article h3 {
  color: rgb(246, 244, 242);
}

.wrapper-news:nth-child(even) article .date {
  color: rgb(183, 181, 179);
}

div.wrapper {
  display: flex;
  max-width: calc(var(--nav-width) + var(--gap) * 2);
  margin: 0 auto;
}

aside {
  margin-top: 48px;
  padding-right: 10px;
  width: 25%;
  margin-left: var(--gap);
  margin-right: var(--gap);
}

.main {
  width: 75%;
  margin-right: 0;
}

@media (max-width: 960px) {
  div.ads,
  div.navi ul span {
    display: none;
  }
  div.wrapper {
    display: block;
  }

  .main {
    width: 100%;
    margin-right: auto;
  }
  aside {
    position: relative;
    width: 90%;
    margin-left: var(--gap);
    margin-right: var(--gap);
    margin-bottom: 50px;
  }

  div.navi ul li {
    display: inline-block;
    width: 24%;
  }
}

@media (max-width: 478px) {
  div.navi ul li {
    width: 49%;
  }
}

.ads-header {
  max-width: calc(var(--nav-width) + var(--gap) * 2);
  margin: 20px auto;
}

.ads {
  margin-bottom: 50px;
}
div.navi {
  margin-bottom: 50px;
}

div.navi h4 {
  margin-bottom: 5px;
  font-size: 10px;
  color: #555;
  text-transform: uppercase;
}

div.navi ul li {
  font-size: 16px;
  list-style-type: none;
}

div.navi ul li i {
  width: 25px;
  font-size: 16px;
}

div.navi ul li i.custom {
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
}

div.navi ul li a {
	transition: 0.2s ease-in-out;
}

div.navi ul li a.html-menu:hover {
	color: #e54d26;
}

div.navi ul li a.css-menu:hover {
	color: #006fb9;
}

div.navi ul li a.bs-menu:hover {
	color: #6d15ed;
}

div.navi ul li a.js-menu:hover {
	color: #cfb432;
}

div.navi ul li a.jq-menu:hover {
	color: #1b75bb;
}

div.navi ul li a.react-menu:hover {
	color: #61dafb;
}

div.navi ul li a.vue-menu:hover {
	color: #4dba87;
}

div.navi ul li a.books-menu:hover {
	color: #f3797a;
}

div.navi ul li a.speed-code-menu:hover {
	color: #486b4e;
}

span.badge {
  margin-left: 15px;
  color: #1488cc;
}

article.digest {
  margin: 120px 0;
}

.gsib_a,
.gsc-search-button {
  line-height: 1;
}

#___gcse_0 {
  width: 100%;
  padding: 0;
}

.post-entry {
	transition: 0.2s ease-in-out;
	box-shadow: 0.6em 0.6em 1.2em rgba(0, 0, 0, .05);
}

.post-entry:hover {
	box-shadow: 0.3em 0.3em .6em rgba(0, 0, 0, .05);
}

h2.subheader {
  margin-top: 150px;
}